# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
backend/.pytest_cache/
backend/pytest-cache-files-*/

# Env
.env

# Alembic cache
alembic/versions/__pycache__/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
